- @body_classes = "c"

.container
  .title-bar
    %h1 Leung Pak Yu
    %h2 Login 

  .content
    %h3 Website
    %img{src: "http://images.all-free-download.com/images/graphiclarge/daisy_pollen_flower_220533.jpg"}
    %p My flower