- @body_classes = 'e'

.title-bar-container
  .title-bar
    %a{href: ''}
      %h1 f
    .search-bar
      %input{type: 'text', placeholder:'Search Facebook'}
      %a{href: '', title:'Search for people, places and things'}
        %img{src: 'http://www.iconpng.com/png/ivista2/search.png'}
    .name
      %a{href: ''}
        %img{src: 'https://4rchiviz4rd.files.wordpress.com/2008/10/keroro-gunso.png'}
        %p LPY
.content-container
  .content
    .left-column
      .box-area
        %a{href: ''}
          %h2 Inbox
          %h3 Other
      .search-bar-container
        .search-bar
          %input{type: 'text', placeholder: 'Search'}
          %a{href: '', title:'Search'}
            %img{src: 'http://www.iconpng.com/png/ivista2/search.png'}
      .conversation
        %a{href: ''}
          %img{src: 'http://fc07.deviantart.net/fs48/i/2009/219/c/5/Keroro_Destroyed_Pekopon_by_Rurara.jpg'}
          %p.name Aryu Quinto
          %p.time 8:41pm
          %p.hello Hello
      .conversation
        %a{href: ''}
          %img{src: 'http://fc01.deviantart.net/fs71/f/2011/331/4/1/keroro_and_tama_by_maruma924-d4hhgco.jpg'}
          %p.name Evita Shih
          %p.time 7:54pm
          %p.hello Hi
      .conversation
        %a{href: ''}
          %img{src: 'http://lohas.nicoseiga.jp/thumb/3115559i?'}
          %p.name Peter
          %p.time 6:00pm
          %p.hello Good day
      .conversation
        %a{href: ''}
          %img{src: 'http://s.siliconimg.com/kb/content_images/2014/07/21/539962/1405937929_956.jpg'}
          %p.name Josephine
          %p.time 5:59pm
          %p.hello Hello
    .right
      %h4 Leung Pak Yu
      .conversation-box-container
        .conversation-box
          .reply-box
            %input{type: 'text', placeholder: 'Write a reply...'} 
            %a{href: ''}
              %img{src: 'http://cdn.playbuzz.com/cdn/aa6a948c-91aa-4896-9952-20f44884b8f1/c2dbf1cb-641f-42ac-bfae-abcbaa0aba19.jpg'}
          %img.add-file-img{src: 'http://hk.wahtat.com/images/201207/goods_img/2378_P_1343691090380.JPG'}
          %p.add-file add files
          %img.add-photo-img{src: 'http://thealevillage.com/wp-content/uploads/2012/08/camera_icon.png'}
          %p.add-photo add photos
          