- @body_classes = 'f'

.title-bar-container
  .title-bar
    %img{src: 'http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Peace_sign.svg/220px-Peace_sign.svg.png'}
    %h1 QUAKER
    .title-bar-right
      %p Haml
      %p Ruby
      %p Logout
      .close
        %h2 X
.content
  .aside
    .friend.current
      %img{src: 'http://www.iphonehouse.cl/image/cache/data/Cleave/rilakkuma/RILAKKUMA1-410x410-500x500.jpg'}
      %h3 YUI
    .friend
      %img{src: 'http://41.media.tumblr.com/43cb02823e2fb192ec4f293dc237b5a4/tumblr_nmmhxevWLB1t6mlvzo1_500.jpg'}
      %h3 CUI
    .friend
      %img{src: 'https://i1.sndcdn.com/avatars-000124412339-n8edlb-t500x500.jpg'}
      %h3 GUI
    .about
      %h4 About
      %p.contact Contact 
      %p.copyright &copy; 2015
  .conversation-container
    .conversation
      %img{src: 'http://www.jpbabyonline.com/image/cache/data/Miffy/2015/Book/9781471124884-500x500.jpg'}
      %h3 Aryu Quinto
      %p.time 12:50pm
      %p We release the updated version of the icon set, now with 452 icons, freely available to use in private or commercial projects.
      %p The files are transparent PNGs, and the source file (.psd) is available for download as well (see the links below). As always, the set is completely free and may be used for any private or commercial project without any restrictions whatsoever.
    .conversation
      %img{src: 'http://www.iphonehouse.cl/image/cache/data/Cleave/rilakkuma/RILAKKUMA1-410x410-500x500.jpg'}
      %h3 YUI
      %p.time 1:00pm
      %p We express sincere gratitude to Oliver for his truly amazing work.
    .conversation
      %img{src: 'http://www.jpbabyonline.com/image/cache/data/Miffy/2015/Book/9781471124884-500x500.jpg'}
      %h3 Aryu Quinto
      %p.time 1:04pm
      %p Fixing technical issues on mobile is annoying. That's why we've teamed up with Peter-Paul Koch to create The Mobile Web Handbook, a new practical guide to deal with common front-end challenges on mobile, effectively. Get the book now.
  .conversation-box